<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Show Comment</title>
	</head>
	<body>
		<h1>Comment ID : <%= comment.id %></h1>
		<br />
		<p><%= comment.comment %> ~ <b><%=comment.name%></b></p>
		<a href="/comments">Go back</a>
	</body>
</html>
