<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('subtemplates/head') %>
		<title>Welcome Home</title>
	</head>
	<body>
		<%- include('subtemplates/navbar') %>
		<div class="container">
			<h1>Welcome to Purana pool ganga</h1>
			<p>
				Oh, Purana Pool Ganga, that wibbly-wobbly, shimmery shim-sham of wavy
				whooshes and splish-splashy splendors! There, under the rickety-rackety
				bridge, where the waters swirl and whizzle in a fandango of fizz-pop
				currents, myths and fishies do somersaults in the oobly-doobly flow.
				Legends say, if you squint just right, you’ll see the bobble-headed
				sprites doing the cha-cha-cha across the glimmers, whispering tales of
				zing-zang zesty whoop-de-doos in the river’s hum!
			</p>
		</div>
	</body>
</html>
