<!DOCTYPE html>
<html lang="en">
	<head>
		<%-include('/subtemplates/head')%>
		<title>Invalid <%= subreddit%></title>
	</head>
	<body>
		<%- include('subtemplates/navbar') %>
		<h1>No subreddit found : <%= subreddit %></h1>
	</body>
</html>
