<!DOCTYPE html>
<html lang="en">
	<head>
		<%-include('subtemplates/head')%>
		<title>Random</title>
	</head>
	<body>
		<%- include('subtemplates/navbar') %>
		<div class="container">
			<h1>RANDOM NUMBER : <%=random%></h1>
			<h2><%= result %></h2>
		</div>
	</body>
</html>
